@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
  --primary-grey: #f8f9fa;
  --primary-dark: #262626;
}

section {padding:2rem;}
.bg-gray {background-color:#cccccc;}
.bg-dark {background-color: #262626;}

@media(max-width: 768px) {
  .dark-background {
    width: 10rem;
  }
}


body {
  font-family: "Montserrat", sans-serif !important;
}

.logo {
  max-width: 50%;
}

/* Navbar */

nav {
  z-index: 2;
}

.navbar-nav > li > a {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  font-size: 110%;
  border-bottom: 0.1rem solid var(--primary-dark);

}

.navbar-brand {
  margin-left: 1rem !important;
}

.navbar-nav > li > a:hover, .navbar-nav > li > a.active:focus {
  border-bottom: 0.1rem solid var(--primary-grey);
}



/* Header */

.header-wrapper {
  position: relative;
  background-size: cover;
  background-position: center;
}



.main-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #f8f9fa;
  margin: 5rem;
}



@media(max-width: 768px) {
  .main-info h1 {
    font-size: 1.9rem !important;
  }
  .typed-text {
    font-size: 1.2rem !important;
  }
}

.text-center {
  text-align: center !important;
}


.btn-resume {
  opacity: 80%;
  border: 1px;
  z-index: 2;
  margin: 2rem;
}

.btn-resume:hover {
  text-decoration: none;
  background-color: #f8f9fa;
  transition: 1.5s ease-in-out;
}

/* Particles JS */
.tsparticles-canvas-el {
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 0;
}

@media(max-width:768px) {
  .tsparticles-canvas {
    display: none;
  }
}


/* About */
.about-wrapper {
  position: relative;
  background-size: cover;
  background-position: center;
}

.main-about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #262626;
}

/* Skills */
.skills {
  text-align: center;
}