@import url('https://fonts.googleapis.com/css2?family=Oxygen&display=swap');

:root {
  --primary-grey: #E1E1E1;
  --primary-dark: #262626;
}

body {
  font-family: "Oxygen", sans-serif;
}

.logo {
  max-width: 75%;
}

/* Navbar */
.navbar-nav > li > a {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  font-size: 110%;
  border-bottom: 0.1rem solid var(--primary-dark);

}

.navbar-brand {
  margin-left: 3rem !important;
}

.navbar-nav > li > a:hover, .navbar-nav > li > a.active:focus {
  border-bottom: 0.1rem solid var(--primary-grey);
}
