@import url('https://fonts.googleapis.com/css2?family=Oxygen&display=swap');

:root {
  --primary-grey: #E1E1E1;
  --primary-dark: #262626;
}

body {
  font-family: "Oxygen", sans-serif;
}

.logo {
  max-width: 60%;
}

/* Navbar */
.navbar-nav > li > a {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  font-size: 110%;
  border-bottom: 0.1rem solid var(--primary-dark);

}

.navbar-brand {
  margin-left: 1rem !important;
}

.navbar-nav > li > a:hover, .navbar-nav > li > a.active:focus {
  border-bottom: 0.1rem solid var(--primary-grey);
}


/* Header */

.header-wrapper {
  position: relative;
  background: url(dark-background.png) no-repeat;
  background-size: cover;
  background-position: center;
  height: 50vh;
}

.header-wrapper h1 {
  margin-top: 7rem;
}

.main-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #f8f9fa;
}

.btn-default {
  opacity: 80%;
  margin-top: 3rem;
}


